@import 'variables';
@import 'global/reset';

@import 'components/navigation';
@import 'components/todo-list';
@import 'components/modal';

* {
	box-sizing: border-box;
}

body {
	background-color: $light-pink;
	font-family: Helvetica;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}


h1 {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: $darker-pink;
	margin-bottom: 30px;
}

.button-container {
	text-align: right;

	button {
		text-align: right;
		font-size: 20px;
		border: 1px solid $dark-pink;
		color: $dark-pink;
		font-weight: bold;
		background-color: transparent;
		margin-bottom: 30px;
		padding: 5px 10px;
		border-radius: 5px;
		transition: 0.3s all ease-in-out;

		&:hover {
			color: $light-pink;
			background-color: $darker-pink;
		}
	}
}

footer {
	text-align: center;
	background-color: $dark-pink;
	color: $light-pink;
	padding: 15px 0;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
@media screen and (max-width: 1024px) {
	.container {
		max-width: 800px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		max-width: 730px;
	}
}

@media screen and (max-width: 750px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}

	h1 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	
	.button-container {
		text-align: right;
	
		button {
			font-size: 18px;
			margin-bottom: 20px;
			padding: 5px 10px;
		}
	}
}


